<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <div class="row">
<div class="text-center">
  <h1>My airbnbs</h1>
</div>
<div class="text-center">
  <% if current_user.posts.empty? %>
  <br>
    <p>You haven't uploaded any Airbnbs yet.</p>
  <% else %>
<div class="text-center">
  <% current_user.posts.each do |post| %>
    <% city = City.find(post.city_id) %>
    <% country = Country.find(city.country_id) %>
    <% category = Category.find(post.category_id) %>
    <% price = post.price %>

    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
      <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
        <%= image_tag post.images.first, style: "width: 250px; height: 100%; border-radius: 20px; margin-right: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" %>
      </div>
      <div class="job-content">
        <h5 class="text-center text-md-left">
          <%= post.title %>
        </h5>
      </div>
      <div class="job-right my-4 flex-shrink-0">
        <%= link_to 'Edit airbnb', post, class: 'btn d-block w-100 d-sm-inline-block btn-light' %>
      </div>
    </div>
  <% end %>
</div>
  <% end %>
</div>
</div>
</div>
</div>
</div>
  


